automation/n8n/lead-ia-360/lead-ia-360.workflow.json
{
  "name": "Lead IA 360",
  "nodes": [
    {
      "id": "696c69d2-d1da-4378-91e0-e1e8f6eaf6e3",
      "name": "Nota - Etapa 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "parameters": {
        "width": 700,
        "height": 160,
        "content": "## Etapa 1 · Ingesta y validación\nWebhook público, normalización de campos ES/EN, validación de datos obligatorios y secreto opcional de webhook. Nunca deja la petición sin respuesta."
      }
    },
    {
      "id": "980fdcb8-9823-4e5e-8238-7a0fe86a44fa",
      "name": "Nota - Etapa 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        20
      ],
      "parameters": {
        "width": 220,
        "height": 140,
        "content": "## Etapa 2 · CRM\nDeduplicación por email vía upsert nativo de Airtable."
      }
    },
    {
      "id": "e149262a-9736-4068-ae70-5b503bceea0b",
      "name": "Nota - Etapa 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        20
      ],
      "parameters": {
        "width": 460,
        "height": 140,
        "content": "## Etapa 3 · Análisis con IA (Gemini)\nSalida JSON estructurada + interpretación con fallback ante fallo de IA o de CRM."
      }
    },
    {
      "id": "cbc74edc-6081-4853-b79a-1f05d1932757",
      "name": "Nota - Etapa 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -120
      ],
      "parameters": {
        "width": 460,
        "height": 160,
        "content": "## Etapa 4 · CRM final y notificaciones\nActualización de Airtable, respuesta al formulario, email al cliente y alerta interna: 4 ramas en paralelo, ninguna bloquea a las demás."
      }
    },
    {
      "id": "c1ae4a25-c38e-402e-a7b6-3c71b9d152fa",
      "name": "Webhook - Recepción de Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        380
      ],
      "notes": "Punto de entrada único (POST). responseMode=responseNode: el código de estado y el cuerpo de la respuesta los controla el nodo Respond to Webhook correspondiente, nunca la respuesta automática de n8n.",
      "webhookId": "0d60ccb6-414e-4616-9dda-4f51cea6e14b",
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ia-360",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "69b164a0-64a2-4e1d-bd89-689967d88949",
      "name": "Normalizar y Validar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "notes": "Normaliza campos ES/EN, valida datos obligatorios, genera Lead ID determinista (hash del email) y construye el prompt de Gemini. Emite logs de recepción y de error de validación.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================================\n// Normaliza el payload del formulario (acepta variantes ES/EN de nombre de\n// campo), valida los datos obligatorios, genera un Lead ID determinista\n// (hash del email -> estable entre reenvíos del mismo lead) y construye el\n// prompt de análisis para Gemini. Registra logs estructurados de cada\n// intento, válido o inválido, para trazabilidad.\n// ============================================================================\ntry {\n  const body = $json.body ?? $json;\n\n  const pick = (...keys) => {\n    for (const key of keys) {\n      const value = body[key];\n      if (typeof value === 'string' && value.trim()) return value.trim();\n    }\n    return '';\n  };\n\n  const lead = {\n    nombre: pick('nombre', 'name', 'fullName', 'full_name'),\n    empresa: pick('empresa', 'company', 'organizacion'),\n    email: pick('email', 'correo', 'mail').toLowerCase(),\n    telefono: pick('telefono', 'phone', 'tel', 'movil'),\n    mensaje: pick('mensaje', 'message', 'comentarios', 'comments'),\n    servicioInteres: pick('servicio_interes', 'service', 'servicio', 'interest'),\n    origen: pick('origen', 'source', 'utm_source') || 'formulario_web',\n  };\n\n  const errors = [];\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n  if (!lead.nombre) errors.push('El campo \"nombre\" es obligatorio.');\n  if (!lead.email || !emailRegex.test(lead.email)) errors.push('El campo \"email\" no es válido.');\n  if (!lead.mensaje || lead.mensaje.length < 10) errors.push('El campo \"mensaje\" debe tener al menos 10 caracteres.');\n\n  // Secreto compartido opcional: si se configura la variable de n8n\n  // WEBHOOK_SECRET (Settings -> Variables), el formulario debe enviar la\n  // cabecera x-webhook-secret con ese valor.\n  const webhookSecret = $vars.WEBHOOK_SECRET;\n  if (webhookSecret) {\n    const receivedSecret = $json.headers?.['x-webhook-secret'];\n    if (receivedSecret !== webhookSecret) errors.push('Token de autenticación inválido.');\n  }\n\n  if (errors.length > 0) {\n    console.warn(JSON.stringify({\n      evento: 'lead_invalido', errores: errors, email: lead.email || null,\n      timestamp: new Date().toISOString(),\n    }));\n    return [{ json: { valid: false, statusCode: 400, errors } }];\n  }\n\n  // Lead ID determinista a partir del email: la misma persona reenviando el\n  // formulario siempre produce el mismo Lead ID, coherente con el upsert\n  // por email en Airtable (elimina duplicados en origen).\n  const hashEmail = (str) => {\n    let hash = 0;\n    for (let i = 0; i < str.length; i++) hash = (hash * 31 + str.charCodeAt(i)) >>> 0;\n    return hash.toString(36);\n  };\n  lead.leadId = `lead_${hashEmail(lead.email)}`;\n  lead.receivedAt = new Date().toISOString();\n\n  // Catálogo de servicios configurable por cliente vía variable de n8n\n  // (Settings -> Variables), para poder reutilizar este mismo workflow al\n  // vender la plantilla a otros clientes sin tocar el prompt.\n  const servicesCatalog = $vars.SERVICES_CATALOG\n    || 'automatización de procesos con IA, agentes de IA a medida, chatbots y asistentes virtuales, integración de sistemas (CRM/ERP) y consultoría de transformación digital con IA';\n\n  const geminiPrompt = `Eres el analista comercial senior de D-Code Partners, una consultora especializada en automatización e inteligencia artificial para empresas. Analiza el siguiente lead recién recibido desde el formulario web y devuelve una evaluación objetiva y accionable para el equipo comercial.\n\nCriterios a evaluar:\n- Calidad y completitud de la información proporcionada (datos de contacto válidos, contexto claro, detalle real del mensaje).\n- Señales de intención de compra explícitas o implícitas (urgencia expresada, presupuesto, plazos, dolor de negocio concreto).\n- Encaje del lead con el catálogo de servicios: ${servicesCatalog}.\n- Nivel de urgencia percibido (¿necesita una solución ya, a corto plazo, o está explorando opciones?).\n\nDatos del lead:\n- Nombre: ${lead.nombre}\n- Empresa: ${lead.empresa || 'No especificada'}\n- Email: ${lead.email}\n- Teléfono: ${lead.telefono || 'No especificado'}\n- Servicio de interés indicado: ${lead.servicioInteres || 'No especificado'}\n- Mensaje del lead: \"${lead.mensaje}\"\n- Origen del formulario: ${lead.origen}\n- Fecha de recepción: ${lead.receivedAt}\n\nCriterios de puntuación:\n- score_ia (0-100): 0-30 lead frío/poco cualificado, 31-60 lead tibio con potencial, 61-100 lead caliente con alta intención de compra.\n- prioridad: \"Alta\" si score_ia >= 75 o hay urgencia explícita; \"Media\" si score_ia está entre 45 y 74; \"Baja\" si score_ia < 45.\n- probabilidad_compra (0-100): probabilidad estimada de conversión a cliente en los próximos 30 días.\n- urgencia: \"Alta\", \"Media\" o \"Baja\" según el lenguaje y contexto del mensaje.\n- servicio_recomendado: el servicio del catálogo que mejor resuelve la necesidad expresada.\n- resumen_comercial: 2-3 frases con el diagnóstico del lead para el equipo comercial, sin repetir literalmente su mensaje.\n- siguiente_accion: acción concreta y específica que debe tomar el equipo comercial en las próximas 24-48h (nunca genérica como \"contactar al cliente\").\n\nSé objetivo, básate solo en la información proporcionada y no inventes datos que no estén presentes.`;\n\n  console.log(JSON.stringify({\n    evento: 'lead_recibido', leadId: lead.leadId, email: lead.email,\n    origen: lead.origen, timestamp: lead.receivedAt,\n  }));\n\n  return [{ json: { valid: true, lead, geminiPrompt } }];\n} catch (err) {\n  console.error(JSON.stringify({\n    evento: 'error_normalizacion', mensaje: err.message,\n    timestamp: new Date().toISOString(),\n  }));\n  return [{ json: { valid: false, statusCode: 500, errors: ['Error interno al procesar el lead.'] } }];\n}\n"
      }
    },
    {
      "id": "766a5265-0863-4891-bc27-053916277e65",
      "name": "¿Lead Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        380
      ],
      "notes": "Enruta a la respuesta de error 400/500 si la validación del nodo anterior falla.",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-lead-valido",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "35b6cfb0-2d34-45f8-ad86-c16a17f209c9",
      "name": "Responder Error de Validación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        620
      ],
      "notes": "Única salida de error del webhook: la petición nunca se queda sin respuesta. Código de estado tomado del propio payload de validación.",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, errors: $json.errors } }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      }
    },
    {
      "id": "67a5e3a6-7abb-47f2-ba13-5b75697d9ff2",
      "name": "Airtable - Crear o Actualizar Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        200
      ],
      "notes": "Upsert nativo por Email: crea el lead si es nuevo, actualiza sus datos de contacto si ya existía. Deduplicación resuelta en origen, sin lógica custom de búsqueda. Reintenta 2 veces ante fallo transitorio y continúa el flujo si falla definitivamente (se registra como crmError más adelante).",
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "={{ $vars.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $vars.AIRTABLE_TABLE_NAME || 'Leads' }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email"
          ],
          "value": {
            "Lead ID": "={{ $json.lead.leadId }}",
            "Nombre": "={{ $json.lead.nombre }}",
            "Empresa": "={{ $json.lead.empresa }}",
            "Email": "={{ $json.lead.email }}",
            "Teléfono": "={{ $json.lead.telefono }}",
            "Servicio de Interés": "={{ $json.lead.servicioInteres }}",
            "Mensaje": "={{ $json.lead.mensaje }}",
            "Origen": "={{ $json.lead.origen }}",
            "Última Actualización": "={{ $json.lead.receivedAt }}",
            "Estado": "Análisis IA en curso"
          },
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Airtable - Lead IA 360"
        }
      }
    },
    {
      "id": "0fda0979-c49b-4dc6-96f6-d2ca25f07a7f",
      "name": "Gemini - Analizar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ],
      "notes": "Llamada a Gemini con salida JSON estructurada (responseSchema) — evita parseo frágil de texto libre. 3 reintentos automáticos ante error transitorio. Si falla definitivamente, continúa el flujo con error controlado en vez de romper el workflow.",
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $vars.GEMINI_MODEL || 'gemini-2.5-flash' }}:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  contents: [\n    { parts: [ { text: $('Normalizar y Validar Lead').item.json.geminiPrompt } ] }\n  ],\n  generationConfig: {\n    temperature: 0.3,\n    responseMimeType: \"application/json\",\n    responseSchema: {\"type\":\"OBJECT\",\"properties\":{\"score_ia\":{\"type\":\"INTEGER\"},\"prioridad\":{\"type\":\"STRING\",\"enum\":[\"Alta\",\"Media\",\"Baja\"]},\"probabilidad_compra\":{\"type\":\"INTEGER\"},\"urgencia\":{\"type\":\"STRING\",\"enum\":[\"Alta\",\"Media\",\"Baja\"]},\"servicio_recomendado\":{\"type\":\"STRING\"},\"resumen_comercial\":{\"type\":\"STRING\"},\"siguiente_accion\":{\"type\":\"STRING\"}},\"required\":[\"score_ia\",\"prioridad\",\"probabilidad_compra\",\"urgencia\",\"servicio_recomendado\",\"resumen_comercial\",\"siguiente_accion\"]}\n  }\n} }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gemini API Key (Header Auth: x-goog-api-key)"
        }
      }
    },
    {
      "id": "b3cd0e03-ce02-46dc-a905-e8f7b9dfb1fa",
      "name": "Interpretar Análisis IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "notes": "Parsea y valida el JSON de Gemini. Aplica valores de reserva si el análisis o el upsert en Airtable fallaron (aiError / crmError). Emite logs estructurados de auditoría por cada lead procesado.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================================\n// Extrae y valida el análisis estructurado devuelto por Gemini. Si la\n// llamada a Gemini falló, devolvió un JSON incompleto, o el upsert previo\n// en Airtable falló, aplica valores de reserva y registra el incidente:\n// el lead nunca se queda sin score ni sin seguimiento comercial.\n// ============================================================================\nconst httpResponse = $json;\nconst lead = $('Normalizar y Validar Lead').item.json.lead;\nconst airtableNode = $('Airtable - Crear o Actualizar Lead').item.json;\nconst airtableRecordId = airtableNode?.id || null;\nconst crmError = !airtableRecordId;\n\nconst FALLBACK = {\n  score_ia: 50,\n  prioridad: 'Media',\n  probabilidad_compra: 50,\n  urgencia: 'Media',\n  servicio_recomendado: lead.servicioInteres || 'Por determinar',\n  resumen_comercial: 'No se pudo generar el análisis automático de este lead. Requiere revisión manual del equipo comercial.',\n  siguiente_accion: 'Revisar el lead manualmente y contactar en menos de 24h.',\n};\n\nfunction parseAnalysis() {\n  if (httpResponse.error) return null;\n  const text = httpResponse.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (!text) return null;\n  try {\n    return JSON.parse(text);\n  } catch {\n    return null;\n  }\n}\n\nconst parsed = parseAnalysis();\nconst aiError = !parsed;\nconst analysis = parsed || FALLBACK;\n\nconst clamp = (value, fallback) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? Math.max(0, Math.min(100, Math.round(n))) : fallback;\n};\nconst validLevel = (value, fallback) => (['Alta', 'Media', 'Baja'].includes(value) ? value : fallback);\n\nif (aiError) {\n  console.error(JSON.stringify({\n    evento: 'error_analisis_ia', leadId: lead.leadId,\n    motivo: httpResponse.error || 'respuesta_invalida_o_vacia',\n    timestamp: new Date().toISOString(),\n  }));\n}\nif (crmError) {\n  console.error(JSON.stringify({\n    evento: 'error_crm_upsert', leadId: lead.leadId,\n    motivo: airtableNode?.error || 'sin_id_de_registro',\n    timestamp: new Date().toISOString(),\n  }));\n}\n\nconst result = {\n  airtableRecordId,\n  crmError,\n  lead,\n  scoreIA: clamp(analysis.score_ia, FALLBACK.score_ia),\n  prioridad: validLevel(analysis.prioridad, FALLBACK.prioridad),\n  probabilidadCompra: clamp(analysis.probabilidad_compra, FALLBACK.probabilidad_compra),\n  urgencia: validLevel(analysis.urgencia, FALLBACK.urgencia),\n  servicioRecomendado: analysis.servicio_recomendado || FALLBACK.servicio_recomendado,\n  resumenComercial: analysis.resumen_comercial || FALLBACK.resumen_comercial,\n  siguienteAccion: analysis.siguiente_accion || FALLBACK.siguiente_accion,\n  aiError,\n};\n\nconsole.log(JSON.stringify({\n  evento: 'lead_analizado', leadId: lead.leadId, scoreIA: result.scoreIA,\n  prioridad: result.prioridad, aiError, crmError, timestamp: new Date().toISOString(),\n}));\n\nreturn [{ json: result }];\n"
      }
    },
    {
      "id": "c9fac02d-1653-4047-a0c6-fe770f241aa3",
      "name": "¿Registro CRM Disponible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        60
      ],
      "notes": "Evita intentar actualizar Airtable si el upsert anterior ya falló (ya quedó registrado como crmError en el log de auditoría).",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-crm-disponible",
              "leftValue": "={{ $json.airtableRecordId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e6bac412-f95c-4573-bba9-f2b5a6b03b99",
      "name": "Airtable - Actualizar Análisis IA",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        60
      ],
      "notes": "Escribe el resultado del análisis de IA en el CRM (score, prioridad, resumen, siguiente acción). Reintenta ante fallo transitorio; si falla definitivamente no bloquea el resto del flujo.",
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "={{ $vars.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $vars.AIRTABLE_TABLE_NAME || 'Leads' }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "value": {
            "id": "={{ $json.airtableRecordId }}",
            "Score IA": "={{ $json.scoreIA }}",
            "Prioridad": "={{ $json.prioridad }}",
            "Probabilidad de Compra": "={{ $json.probabilidadCompra }}",
            "Urgencia": "={{ $json.urgencia }}",
            "Servicio Recomendado": "={{ $json.servicioRecomendado }}",
            "Resumen Comercial IA": "={{ $json.resumenComercial }}",
            "Siguiente Acción": "={{ $json.siguienteAccion }}",
            "Error de Análisis IA": "={{ $json.aiError }}",
            "Estado": "Analizado"
          },
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Airtable - Lead IA 360"
        }
      }
    },
    {
      "id": "b391d577-d37c-4e57-968f-c21a482fc769",
      "name": "Responder Éxito al Formulario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        220
      ],
      "notes": "Responde al cliente en cuanto hay score de IA, en paralelo a la actualización de Airtable y al envío de emails: la latencia percibida no depende de esos pasos.",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, leadId: $json.lead.leadId, scoreIA: $json.scoreIA, prioridad: $json.prioridad } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "d1930c5f-5291-49e1-b48f-d87edbf7b577",
      "name": "Gmail - Email de Confirmación al Cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1440,
        380
      ],
      "notes": "Email personalizado de confirmación. Efecto secundario en paralelo: no bloquea la respuesta del webhook ni la actualización del CRM. Reintenta ante fallo transitorio de la API de Gmail.",
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Normalizar y Validar Lead').item.json.lead.email }}",
        "subject": "=Hemos recibido tu solicitud, {{ $('Normalizar y Validar Lead').item.json.lead.nombre }}",
        "emailType": "html",
        "message": "<div style=\"font-family:Arial,sans-serif;line-height:1.6;color:#333;max-width:600px;margin:auto;\">\n  <h2 style=\"color:#2b2b2b;\">¡Gracias por contactar con {{ $vars.COMPANY_NAME || 'D-Code Partners' }}!</h2>\n  <p>Hola <strong>{{ $('Normalizar y Validar Lead').item.json.lead.nombre }}</strong>,</p>\n  <p>Hemos recibido correctamente tu solicitud y ya la estamos revisando.</p>\n  <p>En un plazo inferior a <strong>24 horas laborables</strong> {{ $vars.SENDER_NAME || 'nuestro equipo' }} se pondrá en contacto contigo para conocer mejor tus necesidades y resolver cualquier duda.</p>\n  <p>Si necesitas ampliar información mientras tanto, puedes responder directamente a este correo.</p>\n  <hr style=\"margin:30px 0;\">\n  <p>Un saludo,<br><strong>{{ $vars.COMPANY_NAME || 'D-Code Partners' }}</strong></p>\n</div>",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail - Lead IA 360"
        }
      }
    },
    {
      "id": "b09a4105-5108-4ee8-a194-676e95902f85",
      "name": "¿Prioridad Alta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ],
      "notes": "Filtra los leads que requieren atención comercial inmediata.",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-prioridad-alta",
              "leftValue": "={{ $json.prioridad }}",
              "rightValue": "Alta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9219f858-dafb-48bd-8473-62405fc394ad",
      "name": "Gmail - Alerta Interna Lead Prioritario",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        560
      ],
      "notes": "Notifica al equipo comercial en tiempo real ante un lead caliente, con el resumen y la acción recomendada por la IA.",
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $vars.SALES_TEAM_EMAIL }}",
        "subject": "=[URGENTE] Nuevo lead prioridad alta - {{ $('Normalizar y Validar Lead').item.json.lead.nombre }}",
        "emailType": "html",
        "message": "<div style=\"font-family:Arial,sans-serif;line-height:1.6;color:#333;\">\n  <h2>Nuevo lead de prioridad alta</h2>\n  <p><strong>Nombre:</strong> {{ $('Normalizar y Validar Lead').item.json.lead.nombre }}</p>\n  <p><strong>Empresa:</strong> {{ $('Normalizar y Validar Lead').item.json.lead.empresa }}</p>\n  <p><strong>Email:</strong> {{ $('Normalizar y Validar Lead').item.json.lead.email }}</p>\n  <p><strong>Teléfono:</strong> {{ $('Normalizar y Validar Lead').item.json.lead.telefono }}</p>\n  <p><strong>Score IA:</strong> {{ $json.scoreIA }}/100 · <strong>Probabilidad de compra:</strong> {{ $json.probabilidadCompra }}%</p>\n  <p><strong>Servicio recomendado:</strong> {{ $json.servicioRecomendado }}</p>\n  <p><strong>Resumen comercial IA:</strong> {{ $json.resumenComercial }}</p>\n  <p><strong>Siguiente acción recomendada:</strong> {{ $json.siguienteAccion }}</p>\n  <hr>\n  <p>Registro en Airtable: {{ $json.airtableRecordId }}</p>\n</div>",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail - Lead IA 360"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Recepción de Lead": {
      "main": [
        [
          {
            "node": "Normalizar y Validar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar y Validar Lead": {
      "main": [
        [
          {
            "node": "¿Lead Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead Válido?": {
      "main": [
        [
          {
            "node": "Airtable - Crear o Actualizar Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error de Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Crear o Actualizar Lead": {
      "main": [
        [
          {
            "node": "Gemini - Analizar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Analizar Lead": {
      "main": [
        [
          {
            "node": "Interpretar Análisis IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Análisis IA": {
      "main": [
        [
          {
            "node": "¿Registro CRM Disponible?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder Éxito al Formulario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Email de Confirmación al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Prioridad Alta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Registro CRM Disponible?": {
      "main": [
        [
          {
            "node": "Airtable - Actualizar Análisis IA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "¿Prioridad Alta?": {
      "main": [
        [
          {
            "node": "Gmail - Alerta Interna Lead Prioritario",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "templateName": "Lead IA 360 - D-Code Partners",
    "description": "Cualificación automática de leads con IA (Gemini) sobre n8n + Airtable + Gmail, con deduplicación por email y manejo completo de errores."
  }
}
